h1, h3{
    color: steelblue;    
}

h1{
    font-size: 40px;
}

.Professional_Summary{
    text-align: justify;
}

button{
    background-color:bisque;
    border-radius: 1cap;
    font-size: medium;
}

button:hover{
    background-color: aliceblue;
}

.profile-pic{
    width: 200px;
    height: 200px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50%;
    border: 10px;
    border-color: steelblue;
    
}

.Head{
    text-align: center;
    margin: 3%;
}

body{
    padding: 30px;
}

header{
    display: flex;
    background-color:darkgrey;
    border-radius:2cap;
}